<div class="row">
  <div class="col-6">
    <form action="/answer" data-turbo="false" class="input-group m-3">
      <input type="text" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary active btn-outline">
    </form>
  </div>
</div>
